body {
  font-family: Copperplate, Fantasy;
  background-color: #f9f9f9;
  padding: 30px;
  color: #333;
}

a {
  color: #0077cc;
  text-decoration: none;
  text-align: right;
}

h1 {
  font-size: 2em;
}
